* {
    
}

form {
    height: 5em;
    margin: 5em auto;    
}

form div {
    margin: 0 auto;
}

form select {
    background: rgba(255,0,0,.1);
    color: white;
    width: 50%;
    border: 2px solid red;
    font-size: 1.2em;
    height: 2.5em;
}

form input {
    width: 3em;    
    height: 2.5em;
    font-size: 1.2em;
    background: red;
    color: white;
    border-radius: .4em;
    border-color: red;
    border-width: 2px;
    transition: background ease 1s, border-color ease 1s;
}

form input[type="text"] {
    width: 20em;     
    background: rgba(255,0,0,.1);
}

form input[type="submit"]:hover {
    color: red;
    background: white;
    border-color: white;
}
    
form option {
    font-size: 2em;
}