* {
    
}

article section.top fieldset {
    border: none;
    width: 50%;
    margin: 0 auto;
}

article section.top fieldset form {
    height: 5em;
    margin: 0 auto;    
}

article section fieldset form div {
    margin: 0 auto;
}

article section fieldset form select {
    background: rgba(255,0,0,.1);
    color: white;
    width: 50%;
    border: 2px solid red;
    font-size: 1.2em;
    height: 2.5em;
}

article section fieldset form input {
    width: 3em;    
    height: 2.5em;
    font-size: 1.2em;
    background: red;
    color: white;
    border-radius: .4em;
    border-color: red;
    border-width: 2px;
    transition: background ease 1s, border-color ease 1s;
}

article section fieldset form input[type="text"] {
    width: 20em;     
    background: rgba(255,0,0,.1);
}

article section fieldset form input[type="submit"]:hover {
    color: red;
    background: white;
    border-color: white;
}
    
article section fieldset form option {
    font-size: 2em;
}