* {
    
}

article section.top fieldset {
    border: none;
    width: 50%;
    margin: 0 auto;
}

article section.top fieldset form {
    height: 5em;
    margin: 0 auto;    
}

article section fieldset form div {
    margin: 0 auto;
}

article section fieldset select{
    background: transparent;
    color: white;
    width: 70%;
    border-color: red;
    font-size: 1.2em;
    height: 3em;
}

article section fieldset form input {
    width: 100%;    
    font-size: 1.25em;
    height: 3em;
    background: transparent;
    color: white;
    border-radius: .4em;
    border-color: red;
}

article section fieldset form input[type="submit"] {
    width: 25%;    
    background: red;
}

article section fieldset form option {
    font-size: 2em;
}