* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1441px) {
    .summaries {
        width: 100%;
    }
    
    .summary {
        width: 18%;
        border: none;
        display: inline-block;
    }
    
    .summary figure {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1025px)  and (max-width: 1440px) {
    .summaries {
        width: 100%;
    }
    
    .summary {
        width: 24%;
        border: none;
        display: inline-block;
    }
    
    .summary figure {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .summaries {
        width: 100%;
    }
    
    .summary {
        width: 32%;
        border: none;
        display: inline-block;
    }
    
    .summary figure {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .summaries {
        width: 100%;
    }
    
    .summary {
        width: 49%;
        border: none;
        display: inline-block;
    }
    
    .summary figure {
        padding: 0;
        margin: 0;
    }
}
