* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1401px) {
    .summary.grid {
        width: 24.25%;
        margin-right: 1%;
        height: 28em;
    }
    
    .summary.grid:nth-child(4n+0) {
        margin-right: 0%;
    }
    
    .summary.grid .news-image {
        height: 16em;
    }
}

@media screen and (min-width: 901px)  and (max-width: 1400px) {
    .summary.grid {
        width: 32.5%;
        margin-right: 1.25%;
    }
    
    .summary.grid:nth-child(3n+0) {
        margin-right: 0%;
    }

    .summary.list {
        width: 49%;
        margin-right: 2%;
    }
    
    .summary.list:nth-child(2n+0) {
        margin-right: 0%;
    }

}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .summary.grid  {
        width: 49%;
        margin-right: 2%;
    }
    
    .summary.grid:nth-child(2n+0) {
        margin-right: 0%;
    }
}
