* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
    main article #stats {
        width: 70%;
        margin: 0 15%;
    }

    main article .summaries {
        width: 80%;
        margin: 0 10%;
    }

    main article .summaries .summary figure {
        width: 32.3%;
        margin: .5%;
    }
    
    main article .summaries .summary figure figcaption {
        font-size: .75em;
    }
    
    main article .summaries .summary figure figcaption:hover {
        background: rgba(255,0,0,.5);
        font-size: .75em;
    }

    main article figure.count-circle:hover,
    main article figure.count-circle:focus {
        transform: scale(1.5);
    }
}

@media screen and (max-width: 600px) {
    main article #stats {
        width: 80%;
        margin: 0 10%;
    }

    main article .summaries {
        width: 100%;
        margin: 0 0%;
        background: rgba(0,0,0,.7);
    }

    main article .summaries .summary figure {
        width: 96%;
        height: 150px;
        margin: .75% 2%;
    }

    main article .summaries .summary figure figcaption {
        font-size: 1.25em;
    }
    
    main article .summaries .summary figure figcaption:hover {
        font-size: 1.25em;
        background: rgba(255,0,0,.5);
    }

    main article figure.count-circle:hover,
    main article figure.count-circle:focus {
        transform: scale(1);
    }
    
    article section.top fieldset {
        border: none;
        width: 100%;
        margin: 0 auto;
    }

    article section fieldset form select {
        width: 80%;
    }
}
