/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2018, 1:20:16 PM
    Author     : zua
*/

* {
    margin: 0;
    padding: 0;
}

ul.images {
    position: relative;
    overflow: hidden;
    list-style: none;

}

ul.images li {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    
}

ul.images li.show {
    z-index: 1000;
}

