@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
}

/* BODY */
html, .container, .container-fluid {
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Dosis';
    font-size: 16px;
    letter-spacing: .1em;
    color: black;
    background: #eee;
    min-height: 100vh;
}

.clearer
{
    clear: both;
}

.clearfix:after
{
    content: '.';
    overflow: hidden;
    height: 0;
    clear: both;
    display: block;
}

/* HEADER */
header {
    width: 100%;
    height: 5vh;
    padding: 0;
    margin: 0;
}

nav.navbar {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

nav.navbar ul li ul {
    background: black;
    border: 1px solid yellow;    
}
nav.navbar li, header nav.navbar li a {
    color: yellow;
}

header nav.navbar li a:hover {
    color: black;
    background: yellow;
}

body > header > nav > div.navbar-header > button {
    margin-right: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.jumbotron {
    height: 50vh;
    margin: 0;
    padding: 0;
    background-image: url(https://source.unsplash.com/random?news);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0;
}

.jumbotron .container {
    width: 100%;
    height: 50vh;
    background: rgba(0,0,0,.5);
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.jumbotron .message {
    width: 100%;
    padding: 7.5vh 0;
    height: auto;
    color: white;
    text-align: justify;
}

body > main > div.jumbotron > div > div.col-sm-10.col-md-8.col-lg-6 {
    background: rgba(0,0,0,.25);
    padding-bottom: 2em;
}

.jumbotron form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron form input[type="text"]{
    background: transparent;
    color: white;
}

.jumbotron form button[type="submit"]{
    background: yellow;
    color: black;
}

.jumbotron .message  h1 {
    font-size: 1.75em;
}

.jumbotron .message p {
    padding-bottom: 1em;
    font-size: 1em;
}


.jumbotron .message ul {
    list-style: none;
    padding-bottom: 1em;
}

.jumbotron .message ul li {
    color: white;
    background: transparent;
    display: inline;
}


/* MAIN CONTENT */

main {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.summaries-context {
    width: calc(100%-1em);
    margin: 0;
    padding: .5em;
    background: black;
    color: yellow;
}
.summaries-context .title {
    text-align: left;
    margin: 0;
    padding-left: 1em;
    display: inline;
    float: left;
}

.summaries-context .actions {
    text-align: right;
    margin: 0;
    padding-right: 1em;
    display: inline;
    float:right;
}

.glyphicon-th, .glyphicon-th-list {
    color: gray;
}

.glyphicon-th:hover, .glyphicon-th-list:hover,
.glyphicon-th:active, .glyphicon-th-list:active,
.glyphicon-th.active, .glyphicon-th-list.active {
    color: yellow;
}

.summaries {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    padding: .5em;
}

.summary {
    width: 100%;
    height: 20em;
    position: relative;
    vertical-align: top;
    float: left;
    margin-bottom: .5em;
    box-shadow: 0px 1px 20px 0px #fff;
    border-radius: 2%;
    overflow: hidden;
    background: white;
}

.summary .news-copyright {
    width:100%;
    height: 3em;
    padding: 0;
    margin: 0em;
}

.news-source .source-image {
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0em;
    display: inline;
    float: left;
}

.news-source .source-name {
    height: 3em;
    line-height: 3em;
    padding: 0em .2em 0 .5em;
    margin: 0em;
    display: inline;
    font-weight: bold;
    float: left;
}

.summary .news-image {
    width: 100%;
    height: 12em;
}

.summary .news-title {
    width: 100%;
    height: 5em;
    padding: .5em;
    margin: 0;
    text-align: left;
    overflow: hidden;
    color: #777;
    background-color: white;
    font-size: .75em;
}

.news-title:hover {
    color: #111;
}

.news-title a {
    text-decoration: none;
}

.summary:hover .news-copyright {
    background: yellow;
}

footer {
    padding: 0;
    margin: 0;
}

footer.navbar-inverse {
    border-radius: 0%;
    margin: 0;
}

footer ul {
    width: 100%;
    padding: 0em;
    margin: 0;
}

footer ul li {
    padding: 0 1em;
}