@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: 'Dosis';
    font-size: 16px;
    letter-spacing: .1em;
    color: black;
    background: rgba(255,255,255,.9);
    height: 100vh;
}

.clearer
{
    clear: both;
}

.clearfix:after
{
    content: '.';
    overflow: hidden;
    height: 0;
    clear: both;
    display: block;
}

/* HEADER */
header {
    width: 100%;
    height: 50vh;
}

nav.navbar {
    border: none;
    border-radius: 0;
}

nav.navbar li, header nav.navbar li a {
    color: tomato;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.jumbotron {
    height: 50vh;
    margin: 0;
    padding: 0;
    background-image: url(https://source.unsplash.com/random?news);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
}

.jumbotron .container {
    height: 50vh;
    background: rgba(0,0,0,.5);
    width: 100%;
}

.jumbotron .message {
    width: 100%;
    margin: 15vh auto;
    height: 50vh;
    color: white;
    text-align: justify;
}

.jumbotron form {
    width: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron form input[type="text"]{
    background: transparent;
    color: white;
}

.jumbotron .message  h1 {
    font-size: 1.75em;
}

.jumbotron .message p {
    padding-bottom: 1em;
    font-size: 1em;
}


.jumbotron .message ul {
    list-style: none;
    padding-bottom: 1em;
}

.jumbotron .message ul li {
    color: white;
    background: transparent;
    display: inline;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}



/* MAIN CONTENT */

main {
    width: 100%;
    min-height: 55vh;
    text-align: center;
}

.summaries {
    width: 100%;
    min-height: 50vh;
    padding-bottom: 0;
    margin: 0;
}

.summary {
    display: inline-block;
    width: 22%;
    margin: 0;
    padding: 0;
}

.summary figure {
    position: relative;
}
.summary figure.count-circle {
    width: 100%;
    height: 200px;
    box-shadow: 0 0 5px #fff;
    float: left;
    color: white;
    transition: cubic-bezier, transform ease-in-out 1s;
    -webkit-transition: cubic-bezier, transform ease-in-out 1s;
}



.summary figure figcaption {
    width: 100%;
    padding: .3em;
    font-size: .75em;
    text-align: left;
    background: rgba(255,0,0,.65);
    transition: background ease 2s;
    -webkit-transition: background ease 2s;
    position: absolute;
    bottom:0;
    height: 3.25em;
}

.summary figure figcaption:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,0,0,1);
}


footer {
    border-radius: 0%;
}