@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    font-family: 'Dosis';
    font-size: 16px;
    letter-spacing: .1em;
    color: black;
    background: rgba(255,255,255,.9);
}

.clearer
{
    clear: both;
}

.clearfix:after
{
    content: '.';
    overflow: hidden;
    height: 0;
    clear: both;
    display: block;
}

/* HEADER */
header {
}

/* TOP NAVIGATION */
header nav {
    position: fixed;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,.8);
    text-align: center;
}

nav ul {
    height: auto;
    list-style: none;
    padding: 1em;
}

nav ul li {
    display: inline;
    text-align: center;
    width: 10%;
    margin: 0 .5em;
}


nav ul li:last-child
{
    border-right: none;    
}

nav ul li a,
nav ul li a:hover,
nav ul li a:active,
nav ul li a:visited {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    word-spacing: .15em;
    font-size: 1.25em;
    color: red;
}


nav ul li a:hover,
nav ul li.active a
{
    color: white;
}

nav ul li.active
{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

nav ul li.logo {
    width: 2em;
    height: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: yellow;
    margin-top: 0;
}

nav ul li.logo:hover {
    color: blue;
}


/* MAIN CONTENT */

main {
    width: 100%;
    text-align: center;
}

/* A section inside the main contaner */
main article {
    width: 100%;
    height: 100vh;
    background-image: url(https://source.unsplash.com/daily?earth);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;    
    overflow: scroll;
}


/* The top section */
main article section.top {
    height: 50vh;
}

/* An article */
main article section.detail
{
    min-height: 50vh;
    background-color: rgba(0,0,0,.5);
}

main article h1 {
    padding: 3em 0 0 0;
    font-size: 3em;
    color: white;
    text-shadow: -2px 2px 10px #a3a3a3;
}

main article h2 {
    color: white;
    font-size: 2em;
    font-style: italic;
    text-shadow: -2px 2px 10px #a3a3a3;
}

main article p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 5%;
    text-align: left;
    color: white;
}

main article #stats {
    width: 50%;
    margin: 0 auto;
}

main article .summaries {
    width: 90%;
    margin: 1em 5%;
}

main article .summaries .summary {
    display: inline;
}

main article .summaries .summary figure {
    width: 19.0%;
    margin: .5%;
}


main article .summaries .summary figure figcaption {
    font-size: .5em;
    text-align: left;
}

main article .summaries .summary figure figcaption:hover {
    font-size: .7em;
    background: rgba(255,0,0,.5);
}




.contact-form
{
}

.contact-map
{
    background: black;
    color: white;
}

figure.count-circle {
    width: 5em;
    height: 5em;
    box-shadow: 0 0 5px #fff;
    float: left;
    border-radius: 5%;
    margin: .2em;
    color: white;
    transition: cubic-bezier, transform ease-in-out 1s;
    -webkit-transition: cubic-bezier, transform ease-in-out 1s;
}

figure.count-circle:hover,
figure.count-circle:focus {
    transform: scale(2);
}

.latest figure.count-circle:hover figcaption {
    font-size: .5em;
    padding: .5em 5% 0 5%;
}


figure p {
    text-align: center;
    margin: .5em auto;
    font-size: 1em;
    color: white;
}


.latest figure.count-circle p {
    overflow: hidden;
    display: none;
}

figure.count-circle:hover p {
}

.latest figure.count-circle figcaption {
    border-top: 2px solid white;
    font-size: .7em;
    visibility: hidden;
}

.latest figure.count-circle:hover figcaption {
    visibility: visible;
    text-align: left;
    background: rgba(255,0,0,.1);
}

figure.count-circle {
    border-radius: 1%; 
}


/* Search Form */



/* FOOTER */
footer nav {
    height: auto;
    background: rgba(0,0,0,.7);
}

