* {
    
}

fieldset{
    border: none;
    width: 400px;
    margin: 3em auto;
}

fieldset .abstand{
    margin-bottom: 7px;
    clear: both;
}

fieldset label {
    padding-top: 5px;
    text-align: left;
    float: left;
    width: 90px;
    font-weight: bold;
    font-size: 15px;
}


fieldset input,
fieldset textarea {
    width: 250px;
    padding: 5px 5px;
    font-size: 1em;
}

fieldset form div input[type="submit"],
fieldset form div input[type="reset"]
{
    width: 70px;
    padding: 1px 0px 5px 0px;
    margin: 20px 20px 0px 110px;
}

fieldset form div input[type="reset"]
{
    margin: 20px 20px 0px 0px;
}

fieldset input[type="text"],
fieldset input[type="email"],
fieldset input[type="tel"],
fieldset textarea
{
    padding: 5px 5px;
}
/* FOOTER */
