
@media screen and (max-width: 768px) {
    header #logo {
        background: red;
    }
    
    #logo:after {
        content: "(m)";
    }
    
    nav.top ul {
        width: 100%;
        display: block;
        overflow: visible;
        padding: 0;
    }
    
        nav.top ul li {
        width: 25%;
        padding: 0em;
        text-align: center;
        background: white;
    }

    main {
        width: 100%;
    }
    
}


@media only screen and (max-width: 600px) {
    
    header #logo {
        background: white;
        color: red;
    }

    #logo:after {
        content: "(s)";
    }

    nav.top {
        background: none;
    }
    
    nav.top ul {
        width: 100%;
        display: block;
        overflow: visible;
        padding: 0;
    }
    
    nav.top ul li {
        width: 50%;
        padding: 0em;
        text-align: center;
        background: white;
    }
    
    main {
        width: 100%;
    }
    
    article p {
        width: 95%;
        padding: 0em;
        margin: .5em;
    }
    
}




